# Ignorer le dataset (sensible ou trop lourd)
MedicalMigration/dataset/*.csv

# Ignorer les fichiers temporaires
__pycache__/
*.pyc

# Ignorer les secrets
.env

# Ignorer mongo_data (eviter que les données soient publique et exposées)
mongo_data/
